* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #60e583;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 2rem;
  margin-top: 10%;
}

.card-title{
  color: #155431;
  text-align: center;
  font-size: 3.6rem ;
  margin-top: 7%;
}

.card-text{
  color:#316685;
  text-align: left;
  font-size:2rem;
  margin-top: 5%;
}

.nav-item{
  font-family: sans-serif;
  font-size: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  
.App {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top:50px;
  background-image: linear-gradient(120deg, #89e1a1 0%,#aee3bc 100%);
}
.heading{
  font-family: 'Pacifico', cursive;
  font-size: 12px;
}
.container{
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input{
  padding-left: 5px;
  font-size:2rems;
  height: 40px;
}
.middle,.right{
  width: 120px;
}
.switch{
  padding: 5px;
  margin-top: 15px;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
}
.result{
  box-sizing: border-box;
  width: 400px;
  padding-left: 30px;
}
button{
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 10px;
  border: 2px solid forestgreen;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
}
p,h3, button, .switch{
  color: forestgreen;
  font-size: 10px;
}
p{
  font-size: 30px;
}